<header>
  <div class="container">
    <nav class="navbar navbar-inverse navbar-custom">
    <div class="container-fluid">
    <div class="navbar-header">
    <a class="navbar-brand" href="#">Expense</a>
        </div>
    <ul class="nav navbar-nav">
        <li style="color:white; padding-top: 15px;"> <%= link_to 'incomes', incomes_path%></li>
        <li style="color:white; padding-top: 15px;"> <%= link_to 'expenditures', expenditures_path%></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
          <li class="dropdown">
            <a class="dropdown-toggle" data-toggle="dropdown" href="#">
            <span class="caret"></span></a>
            <ul class= "dropdown-menu accountmenu">

              <li>&nbsp; &nbsp;Welcome: &nbsp; </li>

              <li>&nbsp; &nbsp;Email: &nbsp;</li>
             
              <li>&nbsp; &nbsp;Role: &nbsp; Admin</li>
            </ul>
          </li>      
             <li><
              <span class="glyphicon glyphicon-log-out"  style="color:white; padding-top: 15px;"> Log out</span>
              </li> 
            <li>
              <span class="glyphicon glyphicon-log-in"  style="color:white; padding-top: 15px;"> Login</span>
            </li>
    </ul>
  </div>
</nav>
  </div>
</header>